body {
    margin:0;
}
.button1{
    width:100px;
    padding-left: 10px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.button2{
    width:100px;
    padding-left: 70px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.button3{
    width:100px;
    padding-left: 150px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.button4{
    width:100px;
    padding-left: 210px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.ptitle{
    font-size: 30px;
    margin: 15px;
}
.para1{
    display: flex; 
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    background: linear-gradient(0.70turn, #da99ff,#fffd8f,#9a94ff, #9a94ff,#ffa794);
    position:relative;
    padding:40px;
    font-family: 'Red Hat Mono', monospace;
}
.joypics{
    margin-top:0px;
    height: 400px;
    border-width: 1px;
    background-color:#9a94ff;
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
.joypic1{
    width:20%;
    border-radius: 5%;
    margin-right: -100px;
}
.joypic2{
    width:30%;
    border: 2px;
    border-style:solid;
    border-color: #000000;
    border-radius: 5%;
}
.joypic3{
    width:20%;
    border-radius: 5%;
    margin-left: -100px;
}
.para2{
    display: flex; 
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background: linear-gradient(0.70turn, #c582ec,#c582ec,#e6e479, #9a94ff,#ff8819);
    padding:40px;
    font-family: 'Red Hat Mono', monospace;
}
.upendopics{
    margin-top:0px;
    height: 600px;
    border-width: 1px;
    background-color:#c582ec;
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center; 
}
.upendopics1{
    width:28%;
    border-radius: 5%;
    margin-right: -80px;
}
.upendopics2{
    width:30%;
    border: 2px;
    border-style:solid;
    border-color: #000000;
    border-radius: 5%;
}
.upendopics3{
    width:28%;
    border-radius: 5%;
    margin-left: -80px;
}
#footer {
    margin-bottom: 0px;
    height: 70px;
    background: linear-gradient(0.40turn, black, #b070d4,rgb(148, 141, 141),#293241);
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border: 1px;
    border-style:solid;
    border-color: #000000;
}
 .footer1{
    width:30px;
    margin-right: -500px;
 }
 .footer2{
    width:30px;
    
 }
 .footer3{
    width:30px;
    margin-left: -500px;
 }
