body {
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
   
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-family: 'Red Hat Mono', monospace;
    font-size: 3rem;
    color:rgb(26, 26, 26);
  }
  
  .result-score {
    margin-left: .1rem;
    font-size: 3rem;
    color:blueviolet;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 2.5rem;

  }