body {
    margin: 0;
}
.nav{
    height: 35px;
    border-width: 1px;
    border-style: solid;
    background:linear-gradient(0.30turn,#000000,#070606,#cf5050,#e02846);
    padding-top: 10px;
}
.button1{
    width:100px;
    padding-left: 20px; 
}
.button2{
    width:100px; 
    padding-left: 20px;  
}
.button3{
    width:100px;
    padding-left: 20px;
}

.intro-p{
    margin-top: 0px; 
    display: flex;
    flex-direction:column;
    position:relative;
}
.textoverlay{
    background: rgba(189, 63, 63, 0.5);
    flex-direction: row;
    border: 2px;
    border-style: solid;
    width: 400px;
    height: 160px;
    position: absolute;
    z-index: 10;
    margin:0;
    padding: 60px;
    top: 70px;
    left: 80px;
    color: #000000;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    font-size:xx-large;
    text-align: center;

}
.textoverlay:hover {
    transform: scale(1.2);
  }

#mid-section{
    margin-top:0px;
    height: 200px;
    border: 2px;
    border-style: solid;
    border-right: #1f1d1d;
    border-left: #4e4141;
    background: linear-gradient(0.50turn,#e42626,#ca4040,#ec9898,#ec9898, #555757);
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
.mid-section1{
    width:150px;
    border-radius: 50%;
    margin-right: -100px;
}
.mid-section1:hover {
    transform: scale(1.2);
  }
.mid-section2{
    width:150px;
    border-radius: 20%;
}
.mid-section2:hover {
    transform: scale(1.2);
}
.mid-section3{
    width:150px;
    border-radius: 30%;
    margin-left: -100px;
}
.mid-section3:hover {
    transform: scale(1.2);
}
#footer {
    margin-bottom: 0px;
    height: 70px;
    background: linear-gradient(0.40turn, #555757, #1b1919, #000000);
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
 .footer1{
    width:30px;
    margin-right: -500px;
 }
 .footer2{
    width:30px;
    
 }
 .footer3{
    width:30px;
    margin-left: -500px;
 }