body{
    margin: 0;
}
.button1{
    width:100px;
    padding-left: 10px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.button2{
    width:100px;
    padding-left: 70px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.button3{
    width:100px;
    padding-left: 150px; 
    position: absolute;
    z-index: 10;
    margin:0;
    top: 10px;
}
.ptitle{
    font-size: 30px;
    margin: 10px;
    padding:30px;
    border: 2px;
    border-style:solid;
    border-color: #000000; 
}
.para1{
    display: flex; 
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    background: linear-gradient(0.70turn, #da99ff,#fffd8f,#9a94ff, #9a94ff,#ffa794);
    position:relative;
    padding:40px;
    font-family: 'Red Hat Mono', monospace;
}
.wireframe{
    margin-top:0px;
    height: 600px;
    border-width: 1px;
    background: linear-gradient(0.70turn, #da99ff,#9a94ff, #9a94ff,#ffa794);
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border: 2px;
    border-style:solid;
    border-color: #000000; 
}
.wireframe1{
    width:55%;
    border: 2px;
    border-style:solid;
    border-color: #6e6e6e;
    border-radius: 5%;
    margin-right: -80px;
}
.wireframe2{
    width:60%;
    border: 2px;
    border-style:solid;
    border-color: #6e6e6e;
    border-radius: 5%;
    margin-right: -80px;
}
.wireframe3{
    width:60%;
    border: 2px;
    border-style:solid;
    border-color: #6e6e6e;
    border-radius: 5%;
    margin-right: -80px;
}

#footer {
    margin-bottom: 0px;
    height: 70px;
    background: linear-gradient(0.70turn,#9a94ff,#9a94ff,  #da99ff);
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    border: 1px;
    border-style:solid;
    border-color: #000000;
}
 .footer1{
    width:30px;
    margin-right: -500px;
 }
 .footer2{
    width:30px;
    
 }
 .footer3{
    width:30px;
    margin-left: -500px;
 }